<!DOCTYPE html>
<html>

<body background="https://s-media-cache-ak0.pinimg.com/originals/0b/95/2f/0b952fa1167b95c022e6e2bb54b4c03e.jpg" style="font-size: larger">

<strong style ="color:crimson ;font-size: larger">WELCOME TO UNIVERSITY OF CINCINNATI </strong>
<ul>
    <li style ="color:orange">UC-Main Campus</li>
    <li style ="color:white"> UC- BlueAsh Campus</li>
    <li style ="color:green" > UC-Clermont Campus</li>
</ul>


" <a style ="color:white"href='/estimator'>ADMISSION ESTIMATOR</a>"
</body>

</html>